html, body {
    height: 100%;
    width: 100%;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.input-group-icon .input-group-text {
    background-color: #fff;
    padding-top: .6rem;
    padding-bottom: 0;
}

.input-group-icon input {
    border-left: solid 1px #fff;
}

.blank-row {
    line-height: 18px;
    height: 18px;
}

.main-logo {
    height: 32px;
    width: auto;
}

.t-col {
    line-height: 36px;
    min-height: 36px;
}

.t-col-half {
    line-height: 18px;
    min-height: 18px;
}

.header {
    background: url("/images/243.png") left top no-repeat;
    color: #fff;
    background-size: cover;
}

    .header .main-header {
        line-height: 36px;
        min-height: 36px;
    }

        .header .main-header .social {
            text-align: justify;
            line-height: 36px;
        }

            .header .main-header .social a {
                color: #0f4c71;
                margin: 0 10px;
                text-decoration: none;
            }

                .header .main-header .social a:hover {
                    color: #ecbf54;
                }

        .header .main-header .top-button-a {
            color: #000;
            text-decoration: none;
        }

            .header .main-header .top-button-a .top-button {
                background-color: #fff;
                border-radius: 18px;
                line-height: 36px;
                width: 100%;
            }

                .header .main-header .top-button-a .top-button:hover {
                    background-color: #ecbf54;
                }

        .header .main-header .top-button-reg-a {
            color: #fff;
            text-decoration: none;
        }

            .header .main-header .top-button-reg-a:hover {
                color: #000;
            }

            .header .main-header .top-button-reg-a .top-button {
                border-radius: 18px;
                line-height: 34px;
                width: 100%;
                border: 1px solid #0f4c71;
            }

                .header .main-header .top-button-reg-a .top-button:hover {
                    background-color: #ecbf54;
                    border: none;
                }

        .header .main-header a.location {
            color: #0f4c71;
            text-decoration: none;
        }

            .header .main-header a.location:hover {
                color: #ecbf54;
            }

            .header .main-header a.location .city {
                text-decoration: underline;
                text-decoration-style: dashed;
            }

            .header .main-header a.location:hover .city {
                text-decoration: none;
            }

        .header .main-header .avatar a {
            color: #0f4c71;
            text-decoration: none;
            border-bottom: dashed 1px #0f4c71;
        }

            .header .main-header .avatar a:hover {
                text-decoration: none;
                color: #ecbf54;
                border-bottom: dashed 0px #0f4c71;
            }

        .header .main-header .avatar img {
            height: 36px;
            width: auto;
            border: 0;
        }

.main-menu {
    background-color: #1b0e21;
    line-height: 34px;
    border-radius: 5px;
    border: 1px solid #1b0e21;
}

    .main-menu a {
        color: #fff;
        text-decoration: none;
    }

        .main-menu a:hover {
            color: #ecbf54;
            text-decoration: none;
            border-bottom: 1px solid #fff;
            min-height: 33px;
            line-height: 33px;
        }

.events {
    line-height: 36px;
    min-height: 36px;
    color: #ecbf54;
}

.bottom {
    background: url("/images/768.png") left top no-repeat;
    color: #fff;
    background-size: cover;
}

    .bottom .social {
    }

        .bottom .social a {
            color: #0f4c71;
            display: inline-block;
            margin: 0 18px 0 18px;
        }

            .bottom .social a:hover {
                color: #ecbf54;
            }

    .bottom .links,
    .bottom .contacts {
    }

        .bottom .links a {
            color: #0f4c71;
            text-decoration: underline;
            text-decoration-style: dashed;
        }

            .bottom .links a:hover {
                color: #ecbf54;
                text-decoration: none;
            }

        .bottom .contacts .d {
            color: #0f4c71;
        }

            .bottom .contacts .d span {
                text-decoration: underline;
                text-decoration-style: dashed;
            }

.login-input {
    padding-right: 0;
}

    .login-input input {
        border: solid 1px #007896;
        line-height: 22px;
    }

.login-q {
    padding-left: 0;
    color: #007896;
}

.login-l input {
    padding: 0;
    margin: 0;
    height: 36px;
    width: 100%;
    border-radius: 18px;
    border: solid 1px #007896;
    line-height: 36px;
    background-color: #fff;
}

    .login-l input:hover {
        background-color: #ecbf54;
        border: solid 1px #ecbf54;
    }

.chk-label input[type=checkbox] {
    border: solid 1px #007896;
    border-radius: 0.5em;
    margin-top: 0;
}

.crumbs {
    color: #007896;
}

    .crumbs a {
        color: #007896;
        text-decoration: none;
        border-bottom: dashed 1px #007896;
    }

        .crumbs a:hover {
            text-decoration: none;
            color: #ecbf54;
            border-bottom: dashed 1px #fff;
        }

.crb-avatar {
    color: #0f4c71;
}

.crb-location {
    color: #007896;
}

    .crb-location .city {
        border-bottom: dashed 1px #007896;
    }

        .crb-location .city:hover {
            cursor: pointer;
            text-decoration: none;
            color: #ecbf54;
            border-bottom: dashed 1px #fff;
        }

.search-filter {
    background: url("/images/452.png") left top no-repeat;
    color: #007896;
    background-size: cover;
    border-radius: 18px;
}

    .search-filter .form-group {
        padding-left: calc(var(--bs-gutter-x) * 1.0);
    }

    .search-filter .input-group-text {
        color: #007896;
    }

    .search-filter .fa-question-circle {
        cursor: pointer;
    }

        .search-filter .fa-question-circle:hover {
            color: #ecbf54;
        }

    .search-filter .button-one {
        border-radius: 18px;
        line-height: 34px;
        width: 100%;
        border: 1px solid #0f4c71;
        background-color: #ecbf54;
    }

.ordering {
    color: #0f4c71;
}

    .ordering .btn {
        color: #0f4c71;
        border: solid 1px #007896;
        margin-top: -4px;
    }

    .ordering .form-select {
        color: #0f4c71;
        border: solid 1px #007896;
    }


    .ordering .btn:hover .fa-caret-down {
        color: #ecbf54;
    }

.pagination-container li {
    height: 36px;
    line-height: 36px;
    border: solid 1px #007896;
    color: #0f4c71;
    margin-right: 18px;
    padding: 0 16px;
    border-radius: 18px;
    display: flex;
}

    .pagination-container li:hover {
        background-color: #ecbf54;
        border: solid 1px #ecbf54;
    }

    .pagination-container li a {
        margin-top: -2px;
    }

    .pagination-container li.active {
        background-color: #ecbf54;
        border: solid 1px #ecbf54;
    }

.the-form {
    background: url('/images/768.png') left top no-repeat;
    background-size: cover;
    border-radius: 18px;
    padding-left: 18px;
    padding-right: 18px;
}

    .the-form textarea:active,
    .the-form input:active,
    .the-form textarea:focus,
    .the-form input:focus,
    .the-form button:focus {
        outline: 0px !important;
        -webkit-appearance: none;
        box-shadow: none !important;
        border-color: #fff;
    }

    .the-form .form-row i {
        color: #007896;
    }

        .the-form .form-row i.fa-question-circle:hover {
            color: #ecbf54;
            cursor: pointer;
        }

    .the-form .form-row .chk-label {
        color: #fff;
    }

        .the-form .form-row .chk-label input[type=checkbox] {
            border: solid 1px #007896;
            border-radius: 0.5em;
            margin-top: 0.6em;
        }

        .the-form .form-row .chk-label label {
            margin-left: 7px;
        }

            .the-form .form-row .chk-label label a {
                color: #007896;
                text-decoration: none;
                border-bottom: dashed 1px #007896;
            }

    .the-form .button-one {
        border-radius: 18px;
        line-height: 34px;
        width: 100%;
        border: 1px solid #0f4c71;
        background-color: #ecbf54;
        text-align: center;
    }

    .the-form input.input-validation-error {
        border: 1px solid #b94a48;
    }

    .the-form .the-error {
        color: #fff;
    }

        .the-form .the-error i {
            color: #007896;
        }
