@using Transfer.Common.Enums.AccessRights
<div class="container">
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;Отчеты
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">Отчеты</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    @if (Security.HasAnyRightForSomeOrganisation(new List<Enum> { ReportAccessRights.DataInputReport, ReportAccessRights.TripRequestReport }))
    {
        <div class="row">
            <div class="col-12">
                <div class="row carrier">
                    <div class="t-col col-12">
                        <a asp-action="DataInput" asp-controller="Report" class="dark-link-basic"><span style="font-size: 1.2rem;">Отчет о внесении перевозчиков</span></a>
                    </div>
                    <div class="t-col col-12">
                        <a asp-action="TripRequests" asp-controller="Report" class="dark-link-basic"><span style="font-size: 1.2rem;">Отчет о внесении запросов на перевозки</span></a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="color: #fff; border: dashed 1px #007896;">
    }
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
</div>