@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/dist/home.js" asp-append-version="true"></script>
}


@*<div class="text-center">
    <h1 class="display-4">Welcome555</h1>
    <p><span class="someClass">Learn</span> about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
