html, body
{
    height: 100%;
    width: 100%;
}
.header {
    background: url("/images/243.png") left top no-repeat;
    color: #fff;
    background-size: cover;
}
    .header .main-header {
        margin-top: 54px;
        height: 36px;
        line-height: 36px;
    }
