@using Transfer.Common.Extensions

@section Styles {
    <link rel="stylesheet" href="~/source/fileinput.min.css" />
    <link rel="stylesheet" href="~/source/select2.min.css" />
    <link rel="stylesheet" href="~/source/select2-bootstrap-5-theme.min.css" />

}


    <div class="container">
        <div class="row">
            <div class="t-col col-12 crumbs">
                ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;О компании
            </div>
        </div>
        <div class="row">
            <div class="t-col col-12">
                <h1 style="color: #0f4c71">О компании</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="t-col col-12">
                Компания Трансфер Софт начала свою деятельность в 2022году. Основным проектом компании является создание Web - сервиса <a href="https://nexttripto.ru" target="_blank">https://nexttripto.ru</a>.
            </div>
        </div>
        <br />
        <div class="row">
            <div class="t-col col-12">
                <a href="https://nexttripto.ru" target="_blank">https://nexttripto.ru</a> - это платформа, позволяющая сравнить цены на поездки у проверенных перевозчиков, найти и заказать транспортное средство для своей поездки в онлайн режиме (автобус, микроавтобус).
            </div>
        </div>
        <br />
        <br />
        <br />
        <br /><br /><br /><br />

    </div>
