@using Transfer.Common.Extensions

@section Styles {
    <link rel="stylesheet" href="~/source/fileinput.min.css" />
    <link rel="stylesheet" href="~/source/select2.min.css" />
    <link rel="stylesheet" href="~/source/select2-bootstrap-5-theme.min.css" />

}


    <div class="container">
        <div class="row">
            <div class="t-col col-12 crumbs">
                ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;Контакты
            </div>
        </div>
        <div class="row">
            <div class="t-col col-12">
                <h1 style="color: #0f4c71">Контакты</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="t-col col-12">
                Юр. Адрес: 125438, г. Москва, ул. Михалковская,  д. 63б стр. 2, помещ. XXI ком. 1м
            </div>
        </div>
        <br />
        <div class="row">
            <div class="t-col col-12">
                Факт. Адрес:  115093 г. Москва, Партийный пер., д. 1, корп. 11, оф. 239
            </div>
        </div>
        <br />
        <div class="row">
            <div class="t-col col-12">
                Тел. +7 989-262-00-50
            </div>
        </div>
        <br /><br /><br /><br />
        
    </div>
