<div class="container">
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="TripRequest" asp-action="Search">Поездки</a>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">@ViewBag.Message</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
</div>
