@using Transfer.Common.Enums.AccessRights
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/favicon.png" type="image/png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Транспортная компания Трансфер</title>
    <link rel="stylesheet" href="~/source/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/source/fontawesome.all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/main.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="container-fluid header">
        <div class="container">
            <div class="row blank-row"></div>
            <div class="row blank-row"></div>
            <div class="row main-header">
                <div class="col-lg-2 col-md-4 col-6 pb-2">
                    <a href="/">
                        <img src="/images/trsite_logo_new.png" class="main-logo" />
                    </a>
                </div>
                <div class="col-lg-2 offset-lg-1 offset-md-6 col-md-2 offset-3 col-3 pb-2 social">
                    <a href="https://m.vk.com/tktransfer">
                        <i class="fab fa-vk fa-lg"></i>
                    </a>
                    <a href="https://t.me/TK_transfer">
                        <i class="fab fa-telegram fa-lg"></i>
                    </a>
                </div>
                
                @if (Transfer.Web.Moduls.Security.IsAuthenticated)
                {
                    <div class="offset-lg-2 col-lg-3 col-md-12 text-center avatar">
                        <i class="far fa-user-circle" style="color: #0f4c71; font-size: 1.2em;"></i>&nbsp;&nbsp;&nbsp;<a asp-controller="Account" asp-action="Index">@Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName</a>
                    </div>
                    <div class="col-lg-2 col-md-12 pb-2 text-center">
                        <a class="top-button-a" asp-controller="Auth" asp-action="LogOut">
                            <div class="top-button">Выход</div>
                        </a>
                    </div>
                }
                else
                {
                    <!--<div class="col-lg-3 col-md-12 text-center">
                        <a href="#" class="location">
                            <div>
                                <i class="fas fa-location-arrow"></i>
                                <span class="city">Александровск-Сахалинский</span>
                            </div>
                        </a>
                    </div>-->
                    <div class="offset-lg-3 col-lg-2 col-sm-6 pb-2 text-center">
                        <a class="top-button-reg-a" asp-controller="Home" asp-action="Registration">
                            <div class="top-button">Регистрация</div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-2 text-center">
                        <a href="#" class="top-button-a" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="top-button">Вход</div>
                        </a>
                    </div>
                }
            </div>
            <!--<div class="row blank-row"></div>-->
            <div class="row">
                @if (Security.IsAuthenticated)
                {
                    <div class="main-menu row">
                        <a class="col-md-2 text-center" asp-controller="TripRequest" asp-action="Search">Поездки</a>
                        <a class="col-md-3 text-center" asp-controller="Carrier" asp-action="Search">Перевозчики</a>
                        <a class="col-md-3 text-center" asp-controller="Bus" asp-action="Search">Поиск ТС</a>
                        @if (Security.HasAnyRightForSomeOrganisation(new List<Enum> { ReportAccessRights.DataInputReport }))
                        {
                            <a class="col-md-2 text-center" asp-controller="Report" asp-action="Index">Отчеты</a>
                        }
                        else
                        {
                            <a class="col-md-2 text-center" asp-controller="Account" asp-action="Reviews">Проверки</a>
                        }
                        <a class="col-md-2 text-center" asp-controller="Account" asp-action="Index">Личный кабинет</a>
                    </div>
                }
                else
                {
                    <div class="main-menu row">
                        <a class="col-md-2 text-center" asp-controller="Info" asp-action="About">О компании</a>
                        <a class="col-md-2 text-center" asp-controller="Transport" asp-action="Index">Транспорт</a>
                        <a class="col-md-2 text-center" asp-controller="Trip" asp-action="Index">Поездки</a>
                        <a class="col-md-2 text-center" asp-controller="Info" asp-action="Normatives">Документы</a>
                        <a class="col-md-2 text-center" asp-controller="Info" asp-action="Specials">Спецпредложения</a>
                        <a class="col-md-2 text-center" asp-controller="Info" asp-action="Contacts">Контакты</a>
                    </div>
                }
                <div class="row blank-row"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid central">
        @RenderBody()
    </div>
    <div class="container-fluid bottom">
        <div class="container">
            <div class="row blank-row"></div>
            <div class="row blank-row d-md-flex d-none"></div>
            <div class="row blank-row d-md-flex d-none"></div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="row d-flex d-md-none flex-wrap align-items-center">
                        <a href="/" style="display: flex; align-items: center; justify-content: center;">
                            <img alt="" src="/images/trsite_logo_new.png" class="main-logo" />
                        </a>
                    </div>
                    <div class="row d-none d-md-flex flex-wrap align-items-center">
                        <a href="/">
                            <img alt="" src="/images/trsite_logo_new.png" class="main-logo" />
                        </a>
                    </div>
                    <div class="row blank-row"></div>
                    <div class="d-block d-md-none col-12 t-col social" style="text-align: center;">
                        <a href="https://m.vk.com/tktransfer">
                            <i class="fab fa-vk fa-lg"></i>
                        </a>
                        <a href="https://t.me/TK_transfer">
                            <i class="fab fa-telegram fa-lg"></i>
                        </a>
                    </div>
                    <div class="d-none d-md-block col-12 t-col social">
                        <a href="https://m.vk.com/tktransfer">
                            <i class="fab fa-vk fa-lg"></i>
                        </a>
                        <a href="https://t.me/TK_transfer">
                            <i class="fab fa-telegram fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="row text-center text-md-start">
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="Info" asp-action="About">О компании</a>
                        </div>
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="Сarrier" asp-action="Search">Перевозчики</a>
                        </div>
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="TripRequest" asp-action="Search">Поездки</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="row text-center text-md-start">
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="Info" asp-action="Normatives">Документы</a>
                        </div>
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="Info" asp-action="Specials">Спецпредложения</a>
                        </div>
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="Info" asp-action="Contacts">Контакты</a>
                        </div>
                        <div class="col-12 col-md-10 offset-md-2 t-col links">
                            <a asp-controller="Info" asp-action="Vacancy">Вакансии</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="row text-center text-md-start">
                        <div class="col-12 col-md-10 offset-md-2 t-col contacts">
                            <span class="d">
                                <i class="fas fa-phone-alt"></i> <span>+7 989-262-00-50</span>
                            </span>
                        </div>
                        <div class="col-12 col-md-10 offset-md-2 t-col contacts">
                            <span class="d">
                                <i class="far fa-envelope"></i> <span><a href="mailto:nexttriptoru@gmail.com">nexttriptoru@gmail.com</a></span>
                            </span>
                        </div>
                        <div class="row blank-row d-md-flex d-none"></div>
                        <div class="col-12 col-md-10 offset-md-2 t-col contacts">
                            <span class="d">
                                <i class="far fa-calendar-alt"></i> <span>Пн-Пт: с 09:00 до 18:00<br />Сб,Вс: выходной</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    ©2016-@(DateTime.Now.Year). Все права защищены.
                </div>
            </div>
            <div class="row blank-row"></div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="container">
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-10 t-col">Авторизация</div>
                        <div class="col-2 t-col text-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="row blank-row"></div>
                </div>
                <div class="container">
                    @await Html.PartialAsync("~/Views/Auth/Login.cshtml", new LoginModel())
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-action" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12 t-col confirm-action-text"><h4></h4><div class="body"></div></div>
                    </div>
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12 t-col text-end">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">Отмена</button>
                            <a class="btn btn-primary btn-confirm" href="#" style="background-color: #007896; border: 0;">Подтвердить</a>
                        </div>
                    </div>
                    <div class="row blank-row"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/source/jquery.min.js" crossorigin="anonymous"></script>
    <script src="~/source/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="~/source/jquery.validate.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/source/jquery.unobtrusive-ajax.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/source/jquery.validate.unobtrusive.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/source/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/source/jquery.mask.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/source/fontawesome.all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
    <script src="~/vjs/kostyl.js" type="text/javascript"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>