<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Transfer.Webz</title>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="container-fluid header">
        <div class="container">
            <div class="row">
                <div class="main-header">
                    <div>
                        logo
                    </div>
                    <div>
                        social
                    </div>
                    <div>
                        person
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                13
            </div>
        </div>
    </div>
    <div class="container-fluid central">
        @RenderBody()
    </div>
    <div class="container-fluid bottom">
        3
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
